@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    background-color: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
}
:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#fe5b3d, #ffac38);
}
.sidebar-toggle {
    cursor: pointer;
    height: 26px;
    margin-left: 0.5rem;
    width: 26px;
}
.container .field{
    box-sizing: border-box;
    background-color: rgb(247, 242, 242);
    border-radius: 2rem;
    width: 70%;
    height: 50vh;
    margin-top: 5rem;
    margin-left: 8rem;
    font-family: 'Poppins', sans-serif;
}
.container .field h2{
margin-top: 1.4rem;
padding: 1rem;
text-align: center;
column-gap: inherit;
font-family: 'Poppins', sans-serif;
}
.container .field .select label{
    margin-top: 1rem;
    padding: 1.4rem;
    color: azure;
    font-family: 'Poppins', sans-serif;

}
.abc{
    padding:1rem !important;
    width: 70%;
    height: 2vh;
}
.select-username{
    margin-bottom: 0.625rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color:var(--text-color);
    background-color: darkgray;
}
.select-password{
    margin-bottom: 0.625rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color:var(--text-color);
    background-color: darkgray;
}
.container .btn{
    width: 70%;
    height: 1rem;
}